apiVersion: kubeflow.org/v1
kind: Notebook
metadata:
  name: jupyter-notebook
  namespace: kubeflow-user-example-com
  labels:
    app: jupyter-notebook
spec:
  template:
    spec:
      serviceAccountName: default-editor
      containers:
      - name: notebook
        image: docker.io/kubeflownotebookswg/jupyter-scipy:v1.8.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8888
          name: notebook-port
          protocol: TCP
        resources:
          requests:
            cpu: "500m"
            memory: "1Gi"
          limits:
            cpu: "1"
            memory: "2Gi"
        env:
        - name: NB_PREFIX
          value: /notebook/kubeflow-user-example-com/jupyter-notebook
        volumeMounts:
        - name: workspace
          mountPath: /home/jovyan
      volumes:
      - name: workspace
        persistentVolumeClaim:
          claimName: workspace-jupyter-notebook
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: workspace-jupyter-notebook
  namespace: kubeflow-user-example-com
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: Service
metadata:
  name: jupyter-notebook-service
  namespace: kubeflow-user-example-com
  labels:
    notebook-name: jupyter-notebook
spec:
  type: ClusterIP
  selector:
    notebook-name: jupyter-notebook
  ports:
  - name: http
    port: 80
    targetPort: 8888
    protocol: TCP
