apiVersion: v1
kind: ConfigMap
metadata:
  name: kubeadm-config
  namespace: kube-system
data:
  ClusterConfiguration: |
    apiServer:
      certSANs:
      - "192.168.1.100"
      - "kubernetes.default"
      extraArgs:
        authorization-mode: Node,RBAC
    controllerManager:
      extraArgs:
        node-cidr-mask-size: "24"
    etcd:
      local:
        dataDir: /var/lib/etcd
    networking:
      dnsDomain: cluster.local
      podSubnet: 10.244.0.0/16
      serviceSubnet: 10.96.0.0/12
    scheduler: {}
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
metadata:
  name: config
nodeRegistration:
  criSocket: /run/containerd/containerd.sock
  kubeletExtraArgs:
    node-ip: 192.168.1.100