apiVersion: v1
kind: Service
metadata:
  name: external-database
  namespace: service-demo
  labels:
    service-type: externalname
spec:
  type: ExternalName
  externalName: database.example.com