apiVersion: v1
kind: Service
metadata:
  name: nginx-nodeport
  namespace: service-demo
  labels:
    app: nginx
    service-type: nodeport
spec:
  selector:
    app: nginx
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
  type: NodePort