apiVersion: v1
kind: Service
metadata:
  name: nginx-clusterip
  namespace: service-demo
  labels:
    app: nginx
    service-type: clusterip
spec:
  selector:
    app: nginx
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP