apiVersion: v1
kind: Service
metadata:
  name: nginx-headless
  namespace: service-demo
  labels:
    app: nginx
    service-type: headless
spec:
  selector:
    app: nginx
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
  clusterIP: None